
h1{
  color: #f4efef;
  font-size: 70px;
}

.App{
  background-color: #212121;
  text-align: center;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 330px;
}

.App-header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.user-button{
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: #fcf8f8;
  cursor: pointer;
}

.user-button:hover{
  background-color: aquamarine;
}

